<section class="page-header">
    <h1>Editando a Task: {{task.title}}</h1>

    <form action="/tasks/edit/{{task.id}}" method="POST" class="task-form">
        <input type="hidden" name="id" value="{{task.id}}">

        <div class="form-control">
            <label for="title">Titulo da Task:</label>
            <input id="title" type="text" name="title" placeholder="O que voce vai fazer?" value="{{task.title}}" required>
        </div>

        <div class="form-control">
            <label for="description">Descricao da Task:</label>
            <textarea id="description" name="description" placeholder="Descreva a tarefa..." required>{{task.description}}</textarea>
        </div>

        <input type="submit" value="Salvar alteracoes" class="btn-primary">
    </form>
</section>
